/* 1. Colours! Overriding both themes */
.theme-dark {
  --color-1: #FDF7CD;
  --color-2: #00ECD8;
  --color-3: #E92741;
  --color-3-2: #ef6433;
  --color-3-3: #f4b641;
  --color-3-4: #eff84e;
  --color-3-5: #b5fc5d;
  --color-3-6: #83ff6c;
  --color-4: #3EC840;
  --color-5: #E1DC3F;
  --color-6: #418FDD;
  --color-7: #FF9900;
  --color-8: #fff07e;
  --color-9: #ffc17e;
  --color-10: #ff8b7e;

  --background-primary: #000000;
  --background-primary-alt: #060606;
  --background-secondary: #030303;
  --background-secondary-alt: #090909;

  --text-normal: var(--color-1);
  --text-muted: var(--color-5);
  --text-accent: var(--color-3);
  --text-on-accent: var(--color-1);

    /* obsidian dark defaults (overriding for light) */
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: rgba(0, 0, 0, 0.8);
  --interactive-accent-rgb: 72, 54, 153;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);


  --h1-color: var(--color-3);
  --h2-color: var(--color-3-2);
  --h3-color: var(--color-3-3);
  --h4-color: var(--color-3-4);
  --h5-color: var(--color-3-5);
  --h6-color: var(--color-3-6);
}

.theme-light {
  --color-1: #020832;
  --color-2: #0066ff;
  --color-3: #37009d;
  --color-3-2: #0038a7;
  --color-3-3: #004290;
  --color-3-4: #004468;
  --color-3-5: #004343;
  --color-3-6: #00402d;
  --color-4: #c137bf;
  --color-5: #020832;
  --color-6: #be7022;
  --color-7: #0066ff;
  --color-8: #00123f;
  --color-9: #210031;
  --color-10: #380022;

  --text-normal: var(--color-1);
  --text-muted: var(--color-5);
  --text-accent: var(--color-3);
  --text-on-accent: var(--color-1);

  --h1-color: var(--color-3);
  --h2-color: var(--color-3-2);
  --h3-color: var(--color-3-3);
  --h4-color: var(--color-3-4);
  --h5-color: var(--color-3-5);
  --h6-color: var(--color-3-6);
}

/* 2. UI */

.hypermd-table-row, .cm-indent {
  --font-monospace: "FiraCode Nerd Font", "Hack";
  --font-text: var(--font-monospace);
  --font-normal: 450;
  font-weight: var(--font-normal);
}

.titlebar-inner {
color: var(--color-normal);
}

.titlebar-button {
opacity: 1;
}

/* 3. Editor and preview */
.cm-s-obsidian,
.markdown-preview-view {
color: var(--text-normal);
}


/* 3.1. Headers */
.cm-s-obsidian .cm-header,
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 600;
overflow: visible;
}

h1,
.cm-header-1 {
  color: var(--color-3);
}

h2,
.cm-header-2 {
  color: var(--color-3-2);
}

h3,
.cm-header-3 {
  color: var(--color-3-3);
}

h4,
.cm-header-4 {
  color: var(--color-3-4);
}

h5,
.cm-header-5 {
  color: var(--color-3-5);
}

h6,
.cm-header-6 {
  color: var(--color-3-6) !important;
}


/* 3.3. External links */
.cm-s-obsidian span.cm-link ,
a {
color: var(--color-5);
}

.cm-s-obsidian .cm-formatting-link+.cm-formatting-link-string+.cm-url,
.cm-s-obsidian .cm-string.cm-url,
.cm-s-obsidian span.cm-url {
color: var(--color-1);
}

.cm-s-obsidian .cm-string.cm-url.cm-hmd-footref2 {
  color:var(--color-2);
}

/* 3.4. Internal links */
.cm-s-obsidian span.cm-hashtag,
.cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link,
a.tag {
color: var(--color-2);
}

/* 3.5. blockquotes, embeds, tables */
.cm-s-obsidian span.cm-quote {
  color: var(--color-1);
}

.cm-s-obsidian span.cm-builtin, 
.cm-s-obsidian span.cm-hr {
  color: var(--color-2);
}

/* 3.6. Code */
.cm-s-obsidian span.cm-inline-code,
code {
color: var(--color-1);
}

.markdown-preview-view code {
color: var(--color-1);
}

.cm-s-obsidian pre.HyperMD-codeblock {
color: var(--color-1);
}

.graph-view.color-fill-unresolved {
color: var(--color-1);
opacity: 0.7;
}

.graph-view.color-arrow {
color: var(--color-5);
opacity: 1;
}

.graph-view.color-text {
color: var(--color-1);
}

.graph-view.color-fill-highlight {
color: var(--color-6);
}

.graph-view.color-line-highlight {
color: var(--color-6);
}

.theme-light .graph-view.color-fill-attachment,
.theme-dark .graph-view.color-fill-attachment {
color: var(--color-6);
}

.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag {
color: var(--color-4);
}

/* Bold and Italics*/

strong,
.cm-formatting-strong,
.cm-strong,
.cm-s-obsidian span.cm-quote.cm-strong {
  color: var(--color-8);
}

em,
.cm-formatting-em,
.cm-em,
.cm-s-obsidian span.cm-quote.cm-em {
  color: var(--color-9);
}

del,
.cm-formatting-strikethrough,
.cm-strikethrough,
.cm-s-obsidian span.cm-quote.cm-strikethrough {
  color: var(--color-3)
}

strong em,
.cm-formatting-em .cm-formatting-strong,
.cm-em.cm-strong,
.cm-s-obsidian span.cm-quote.cm-em .cm-strong {
  color: var(--color-10);
}

/* table formatting */

.HyperMD-table-row .cm-widgetBuffer + .cm-em.cm-strong {
  padding-right: 6ch
}

.HyperMD-table-row .cm-widgetBuffer + .cm-em {
  padding-right: 2ch
}

.HyperMD-table-row .cm-widgetBuffer + .cm-strong {
  padding-right: 4ch
}


.callout[data-callout="para"], .admonition.admonition-para, .admonition.admonition-source {
  background-color: var(--background-primary);
  border-left: 0rem;
  border-radius: 0rem;
  box-shadow: 0 0 0 var(--background-modifier-box-shadow) !important;
  margin-top: 0;
  margin-bottom: 0;
}

.admonition.admonition-para .handle, .admonition.admonition-source .handle, .admonition.admonition-para .admonition-title.no-title, .admonition.admonition-source .admonition-title.no-title {
  display: none !important;
}

.admonition.admonition-para > .admonition-title.no-title + .admonition-content-holder, .admonition.admonition-para > .admonition-title.no-title + .admonition-content-holder > .admonition-content, .admonition.admonition-source > .admonition-title.no-title + .admonition-content-holder, .admonition.admonition-source > .admonition-title.no-title + .admonition-content-holder > .admonition-content {
  margin: 0;
}

.callout[data-callout="para"] p, .admonition-para p {
  color: var(--text-normal);
  text-indent: 1.27cm;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.callout[data-callout="para"] h1, .callout[data-callout="para"] h2, .callout[data-callout="para"] h3, .callout[data-callout="para"] h4, .callout[data-callout="para"]  h5, .admonition-para h1, .admonition-para h2, .admonition-para h3, .admonition-para h4, .admonition-para h5 {
  color: var(--text-normal);
  font-weight: normal;
  text-align: center;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.callout[data-callout="para"] h6, .admonition-source p, .admonition-para h6 {
  color: var(--text-normal) !important;
  font-weight: normal;
  padding-left: 1.27cm;
  text-indent: -1.27cm;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.markdown-rendered ul.has-list-bullet {
  list-style-type: disc;
}

.markdown-rendered div ul.has-list-bullet > *::marker {
  color: var(--list-marker-color);
}

.markdown-rendered .list-bullet {
  display: none;
}

.markdown-rendered ul > li > ul {
  list-style-type: circle;
}

.markdown-rendered ul > li > ul > li > ul {
  list-style-type: square;
}

.markdown-rendered ul > li > ul > li > ul > li > ul {
  list-style-type: disc;
}

.markdown-rendered ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: circle;
}

.markdown-rendered ul > li > ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: square;
}

.markdown-rendered ol {
  list-style-type: decimal;
}

.markdown-rendered ol > li > ol {
  list-style-type: upper-roman;
}

.markdown-rendered ol > li > ol > li > ol {
  list-style-type: upper-alpha;
}

.markdown-rendered ol > li > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

.markdown-rendered ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: lower-alpha;
}

.markdown-rendered ol > li > ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: decimal-leading-zero;
}

.cm-indent {
  font-family: var(--font-monospace)
}

.cm-s-obsidian .HyperMD-codeblock .cm-indent {
  font-size: var(--font-text-size)
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg, .cm-s-obsidian div.HyperMD-codeblock-bg {
  border-left: 0px
}

.desmos-graph .dcg-svg-background {
  fill: var(--background-primary);
}

/* Set gridline colour */
.desmos-graph .dcg-svg-minor-gridline {
  stroke: var(--text-normal); 
}

/* Set axis colour */
.desmos-graph .dcg-svg-axis-line {
  stroke: var(--color-8); 
}

/* Set axis text border colour */
.desmos-graph .dcg-svg-axis-value :nth-child(1) {
  stroke: var(--background-primary);
}

/* Set axis text colour */
.desmos-graph .dcg-svg-axis-value :nth-child(2) {
  stroke: var(--color-8);
}

/* Set label text colour */
.desmos-graph .dcg-svg-label :nth-child(2) > * :nth-child(1) {
  stroke: var(--color-10);
}

/* Set label text border colour */
.desmos-graph .dcg-svg-label :nth-child(1) > * :nth-child(1) {
  stroke: var(--background-primary);
}