/* 1. Colours! Overriding both themes */
.theme-dark {
  --color-1: #FDF7CD;
  --color-2: #00ECD8;
  --color-3: #E92741;
  --color-3-2: #ef6433;
  --color-3-3: #f4b641;
  --color-3-4: #eff84e;
  --color-3-5: #b5fc5d;
  --color-3-6: #83ff6c;
  --color-4: #3EC840;
  --color-5: #E1DC3F;
  --color-6: #418FDD;
  --color-7: #FF9900;
  --color-8: #fff07e;
  --color-9: #ffc17e;
  --color-10: #ff8b7e;

  --background-primary: #000000;
  --background-primary-alt: #060606;
  --background-secondary: #030303;
  --background-secondary-alt: #090909;

  --text-normal: var(--color-1);
  --text-muted: var(--color-5);
  --text-accent: var(--color-3);
  --text-on-accent: var(--color-1);

    /* obsidian dark defaults (overriding for light) */
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: rgba(0, 0, 0, 0.8);
  --interactive-accent-rgb: 72, 54, 153;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);


  --h1-color: var(--color-3);
  --h2-color: var(--color-3-2);
  --h3-color: var(--color-3-3);
  --h4-color: var(--color-3-4);
  --h5-color: var(--color-3-5);
  --h6-color: var(--color-3-6);
  --font-monospace: "FiraCode Nerd Font", "Hack";
  --code-size: 14px;
}

.theme-light {
  --color-1: #020832;
  --color-2: #0066ff;
  --color-3: #37009d;
  --color-3-2: #0038a7;
  --color-3-3: #004290;
  --color-3-4: #004468;
  --color-3-5: #004343;
  --color-3-6: #00402d;
  --color-4: #c137bf;
  --color-5: #020832;
  --color-6: #be7022;
  --color-7: #0066ff;
  --color-8: #00123f;
  --color-9: #210031;
  --color-10: #380022;

  --text-normal: var(--color-1);
  --text-muted: var(--color-5);
  --text-accent: var(--color-3);
  --text-on-accent: var(--color-1);

  --h1-color: var(--color-3);
  --h2-color: var(--color-3-2);
  --h3-color: var(--color-3-3);
  --h4-color: var(--color-3-4);
  --h5-color: var(--color-3-5);
  --h6-color: var(--color-3-6);
  --font-monospace: "FiraCode Nerd Font", "Hack";
}

/* 2. UI */

.hypermd-table-row, .cm-indent {
  --font-monospace: "FiraCode Nerd Font", "Hack";
  --font-text: var(--font-monospace);
  --font-normal: 450;
  font-weight: var(--font-normal);
  font-size: var(--code-size);
}

.titlebar-inner {
color: var(--color-normal);
}

.titlebar-button {
opacity: 1;
}

/* 3. Editor and preview */
.cm-s-obsidian,
.markdown-preview-view {
color: var(--text-normal);
}


/* 3.1. Headers */
.cm-s-obsidian .cm-header,
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 600;
overflow: visible;
}

h1,
.cm-header-1 {
  color: var(--color-3);
}

h2,
.cm-header-2 {
  color: var(--color-3-2);
}

h3,
.cm-header-3 {
  color: var(--color-3-3);
}

h4,
.cm-header-4 {
  color: var(--color-3-4);
}

h5,
.cm-header-5 {
  color: var(--color-3-5);
}

h6,
.cm-header-6 {
  color: var(--color-3-6) !important;
}


/* 3.3. External links */
.cm-s-obsidian span.cm-link ,
a {
color: var(--color-5);
}

.cm-s-obsidian .cm-formatting-link+.cm-formatting-link-string+.cm-url,
.cm-s-obsidian .cm-string.cm-url,
.cm-s-obsidian span.cm-url {
color: var(--color-1);
}

.cm-s-obsidian .cm-string.cm-url.cm-hmd-footref2 {
  color:var(--color-2);
}

/* 3.4. Internal links */
.cm-s-obsidian span.cm-hashtag,
.cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link,
a.tag {
color: var(--color-2);
}

/* 3.5. blockquotes, embeds, tables */
.cm-s-obsidian span.cm-quote {
  color: var(--color-1);
}

.cm-s-obsidian span.cm-builtin, 
.cm-s-obsidian span.cm-hr {
  color: var(--color-2);
}

/* 3.6. Code */
.cm-s-obsidian span.cm-inline-code,
code {
color: var(--color-1);
}

.markdown-preview-view code {
color: var(--color-1);
}

.cm-s-obsidian pre.HyperMD-codeblock {
color: var(--color-1);
}

.graph-view.color-fill-unresolved {
color: var(--color-1);
opacity: 0.7;
}

.graph-view.color-arrow {
color: var(--color-5);
opacity: 1;
}

.graph-view.color-text {
color: var(--color-1);
}

.graph-view.color-fill-highlight {
color: var(--color-6);
}

.graph-view.color-line-highlight {
color: var(--color-6);
}

.theme-light .graph-view.color-fill-attachment,
.theme-dark .graph-view.color-fill-attachment {
color: var(--color-6);
}

.theme-dark .graph-view.color-fill-tag,
.theme-light .graph-view.color-fill-tag {
color: var(--color-4);
}

/* Bold and Italics*/

strong,
.cm-formatting-strong,
.cm-strong,
.cm-s-obsidian span.cm-quote.cm-strong {
  color: var(--color-8);
}

em,
.cm-formatting-em,
.cm-em,
.cm-s-obsidian span.cm-quote.cm-em {
  color: var(--color-9);
}

del,
.cm-formatting-strikethrough,
.cm-strikethrough,
.cm-s-obsidian span.cm-quote.cm-strikethrough {
  color: var(--color-3)
}

strong em,
.cm-formatting-em .cm-formatting-strong,
.cm-em.cm-strong,
.cm-s-obsidian span.cm-quote.cm-em .cm-strong {
  color: var(--color-10);
}

/* table formatting */

.HyperMD-table-row .cm-widgetBuffer + .cm-em.cm-strong {
  padding-right: 6ch
}

.HyperMD-table-row .cm-widgetBuffer + .cm-em {
  padding-right: 2ch
}

.HyperMD-table-row .cm-widgetBuffer + .cm-strong {
  padding-right: 4ch
}


.callout[data-callout="para"], .admonition.admonition-para, .admonition.admonition-source {
  background-color: var(--background-primary);
  border-left: 0rem;
  border-radius: 0rem;
  box-shadow: 0 0 0 var(--background-modifier-box-shadow) !important;
  margin-top: 0;
  margin-bottom: 0;
}

.admonition.admonition-para .handle, .admonition.admonition-source .handle, .admonition.admonition-para .admonition-title.no-title, .admonition.admonition-source .admonition-title.no-title {
  display: none !important;
}

.admonition.admonition-para > .admonition-title.no-title + .admonition-content-holder, .admonition.admonition-para > .admonition-title.no-title + .admonition-content-holder > .admonition-content, .admonition.admonition-source > .admonition-title.no-title + .admonition-content-holder, .admonition.admonition-source > .admonition-title.no-title + .admonition-content-holder > .admonition-content {
  margin: 0;
}

.callout[data-callout="para"] p, .admonition-para p, .callout[data-callout="para"] strong, .admonition-para strong, .callout[data-callout="para"] em, .admonition-para em, .callout[data-callout="para"] strong em, .admonition-para strong em {
  color: var(--text-normal);
  text-indent: 1.27cm;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.callout[data-callout="para"] h1, .callout[data-callout="para"] h2, .callout[data-callout="para"] h3, .callout[data-callout="para"] h4, .callout[data-callout="para"]  h5, .admonition-para h1, .admonition-para h2, .admonition-para h3, .admonition-para h4, .admonition-para h5 {
  color: var(--text-normal);
  font-weight: normal;
  text-align: center;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.callout[data-callout="para"] h6, .admonition-source p, .admonition-para h6 {
  color: var(--text-normal) !important;
  font-weight: normal;
  padding-left: 1.27cm;
  text-indent: -1.27cm;
  font-family: 'Times New Roman', 'Times';
  font-size: 11pt;
  line-height: 2;
  margin-bottom: 0cm;
  margin-top: 0cm;
}

.markdown-rendered ul.has-list-bullet {
  list-style-type: disc;
}

.markdown-rendered div ul.has-list-bullet > *::marker {
  color: var(--list-marker-color);
}

.markdown-rendered .list-bullet {
  display: none;
}

.markdown-rendered ul > li > ul {
  list-style-type: circle;
}

.markdown-rendered ul > li > ul > li > ul {
  list-style-type: square;
}

.markdown-rendered ul > li > ul > li > ul > li > ul {
  list-style-type: disc;
}

.markdown-rendered ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: circle;
}

.markdown-rendered ul > li > ul > li > ul > li > ul > li > ul > li > ul {
  list-style-type: square;
}

.markdown-rendered ol {
  list-style-type: decimal;
}

.markdown-rendered ol > li > ol {
  list-style-type: upper-roman;
}

.markdown-rendered ol > li > ol > li > ol {
  list-style-type: upper-alpha;
}

.markdown-rendered ol > li > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

.markdown-rendered ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: lower-alpha;
}

.markdown-rendered ol > li > ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: decimal-leading-zero;
}

.cm-indent {
  font-family: var(--font-monospace)
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg, .cm-s-obsidian div.HyperMD-codeblock-bg {
  border-left: 0px
}

.desmos-graph .dcg-svg-background {
  fill: var(--background-primary);
}

/* Set gridline colour */
.desmos-graph .dcg-svg-minor-gridline {
  stroke: var(--text-normal); 
}

/* Set axis colour */
.desmos-graph .dcg-svg-axis-line {
  stroke: var(--color-8); 
}

/* Set axis text border colour */
.desmos-graph .dcg-svg-axis-value :nth-child(1) {
  stroke: var(--background-primary);
}

/* Set axis text colour */
.desmos-graph .dcg-svg-axis-value :nth-child(2) {
  stroke: var(--color-8);
}

/* Set label text colour */
.desmos-graph .dcg-svg-label :nth-child(2) > * :nth-child(1) {
  stroke: var(--color-10);
}

/* Set label text border colour */
.desmos-graph .dcg-svg-label :nth-child(1) > * :nth-child(1) {
  stroke: var(--background-primary);
}

/*
    ! clean-embeds.css snippet

    Removes title, link, padding, margins from embeds,
    so they really look like the same note.

    To be used with `cssclass: clean-embeds` in YAML frontmatter.

    2021-08-24 Matthias C. Hormann (Moonbase59)

    TODO: Find out how to correct PDF export. L/R margins & vspace too large on embeds.
*/

/* remove title and the table from the "Metatable" plugin */
.markdown-embed-title,
.obsidian-metatable {
  display: none;
}

/*
  For links to embeds NOT to be shown, uncomment the following
  and comment out the other section below.
*/

/*
.markdown-embed-link,
.file-embed-link {
  display: none;
}
*/

/*
  For links to embeds to BE shown, uncomment the following
  until the "End link show/hide stuff" comment
  and comment out the section above.
*/

/* Link icon */
.markdown-embed-link,
.file-embed-link {
  top: 0;
  right: 0;
  left: unset;
  text-align: right;
  border: none;
  margin: 0;
  width: 24px;
  height: 24px;
  color: var(--text-faint);
  cursor: pointer;
}

/* for Ars Magna theme and others that change ::before */
.markdown-embed-link::before,
.file-embed-link::before {
  display: none;
}

/* Link icon size & hide */
.file-embed-link svg,
.markdown-embed-link svg {
  height: 24px;
  width: 24px;
  opacity: 0;
  display: unset;
}

/* show on hover */
.markdown-embed:hover .file-embed-link svg,
.markdown-embed:hover .markdown-embed-link svg {
  opacity: 1;
}

/* change background on hover, to exactly see what’s embedded */
/* .markdown-embed:hover,
.file-embed:hover {
  background-color: var(--background-secondary) !important;
} */

/* End link show/hide stuff */



/* remove border and scroll */
/* unfortunately needs !important for some themes */
.markdown-embed,
.file-embed {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.markdown-embed-content,
.markdown-embed-content > .markdown-preview-view { 
  max-height: unset;
  padding: 0 !important; /* !important for "Pisum" theme */
  margin: 0;
  border: 0;
}

/* remove <br> between internal embeds */
.markdown-preview-section div > br {
  display: none;
}


/* remove vertical space added by markdown-preview-sizer */
div.markdown-preview-sizer.markdown-preview-section {
  min-height: unset !important;
  padding-bottom: 0 !important;
}

/* special considerations for printing (PDF export) */
@media print {

  /* remove frontmatter box if "Show frontmatter" was enabled */
  /* Also remove metadata table from "Metatable" plugin */
  pre.frontmatter,
  .obsidian-metatable {
    display: none;
  }
}

.theme-dark {
  --logic_and: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-51.72493,-117.12502)'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999996;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 52.224928,117.63677 c 0,0 9,-0.45833 9,4.48826 0,4.94587 -9,4.48825 -9,4.48825 z' id='path3-5' /%3E%3C/g%3E%3C/svg%3E");
  --logic_or: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-63.301567,-117.12502)'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 63.801499,117.6336 c 0,0 4.500079,-0.44948 9.000085,4.49182 -4.500006,4.92812 -9.000085,4.49181 -9.000085,4.49181 0,0 2.05797,-1.85323 2.05797,-4.49181 0,-2.6386 -2.05797,-4.49182 -2.05797,-4.49182 z' id='path3' /%3E%3C/g%3E%3C/svg%3E");
  --logic_xor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-75.390115,-117.12502)'%3E%3Cg id='g46' style='stroke:%23ffffff;stroke-opacity:1'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 75.891095,126.57338 c 0,0 2.046797,-1.83517 2.046797,-4.44805 0,-2.6129 -2.046797,-4.44806 -2.046797,-4.44806' id='path3-2' /%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 77.780788,117.63103 c 0,0 3.554162,-0.44975 7.108269,4.4943 -3.554107,4.93085 -7.108269,4.49431 -7.108269,4.49431 0,0 1.625384,-1.85425 1.625384,-4.49431 0,-2.64006 -1.625384,-4.4943 -1.625384,-4.4943 z' id='path3-2-7' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_nand: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-51.72493,-129.07091)'%3E%3Cg id='g49' style='stroke:%23ffffff;stroke-opacity:1'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 52.224932,129.58266 c 0,0 7.000002,-0.45833 7.000002,4.48826 0,4.94587 -7.000002,4.48825 -7.000002,4.48825 z' id='path3-5-6' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10' cx='60.224934' cy='134.07092' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_nor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-63.301567,-129.07091)'%3E%3Cg id='g48' style='stroke:%23ffffff;stroke-opacity:1'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999998;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 63.801499,129.57944 c 0,0 3.50007,-0.44948 7.000083,4.49182 -3.500013,4.92812 -7.000083,4.49181 -7.000083,4.49181 0,0 1.600647,-1.85323 1.600647,-4.49181 0,-2.6386 -1.600647,-4.49182 -1.600647,-4.49182 z' id='path3-9' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-3' cx='71.801582' cy='134.07126' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_xnor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-75.390115,-129.07091)'%3E%3Cg id='g47' style='stroke:%23ffffff;stroke-opacity:1'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999991;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 75.891184,138.51927 c 0,0 1.59185,-1.83517 1.59185,-4.44806 0,-2.61289 -1.59185,-4.44805 -1.59185,-4.44805' id='path3-2-3' /%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999991;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 77.36085,129.57691 c 0,0 2.76417,-0.44974 5.528295,4.4943 -2.764125,4.93086 -5.528295,4.49431 -5.528295,4.49431 0,0 1.264106,-1.85425 1.264106,-4.49431 0,-2.64006 -1.264106,-4.4943 -1.264106,-4.4943 z' id='path3-2-7-6' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-3-2' cx='83.889145' cy='134.07121' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_not: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-89.978186,-122.51524)'%3E%3Cg id='g45' style='stroke:%23ffffff;stroke-opacity:1'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 90.477599,123.01578 7.001022,4.49943 -7.001022,4.49942 z' id='path3-5-6-1' /%3E%3Cellipse style='fill:none;fill-opacity:1;stroke:%23ffffff;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-9' cx='98.478767' cy='127.51521' rx='1.0001457' ry='1.0024884' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.theme-light {
  --logic_and: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-51.72493,-117.12502)'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999996;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 52.224928,117.63677 c 0,0 9,-0.45833 9,4.48826 0,4.94587 -9,4.48825 -9,4.48825 z' id='path3-5' /%3E%3C/g%3E%3C/svg%3E");
  --logic_or: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-63.301567,-117.12502)'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 63.801499,117.6336 c 0,0 4.500079,-0.44948 9.000085,4.49182 -4.500006,4.92812 -9.000085,4.49181 -9.000085,4.49181 0,0 2.05797,-1.85323 2.05797,-4.49181 0,-2.6386 -2.05797,-4.49182 -2.05797,-4.49182 z' id='path3' /%3E%3C/g%3E%3C/svg%3E");
  --logic_xor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-75.390115,-117.12502)'%3E%3Cg id='g46'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 75.891095,126.57338 c 0,0 2.046797,-1.83517 2.046797,-4.44805 0,-2.6129 -2.046797,-4.44806 -2.046797,-4.44806' id='path3-2' /%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.99999;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 77.780788,117.63103 c 0,0 3.554162,-0.44975 7.108269,4.4943 -3.554107,4.93085 -7.108269,4.49431 -7.108269,4.49431 0,0 1.625384,-1.85425 1.625384,-4.49431 0,-2.64006 -1.625384,-4.4943 -1.625384,-4.4943 z' id='path3-2-7' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_nand: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-51.72493,-129.07091)'%3E%3Cg id='g49'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 52.224932,129.58266 c 0,0 7.000002,-0.45833 7.000002,4.48826 0,4.94587 -7.000002,4.48825 -7.000002,4.48825 z' id='path3-5-6' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10' cx='60.224934' cy='134.07092' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_nor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-63.301567,-129.07091)'%3E%3Cg id='g48'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999998;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 63.801499,129.57944 c 0,0 3.50007,-0.44948 7.000083,4.49182 -3.500013,4.92812 -7.000083,4.49181 -7.000083,4.49181 0,0 1.600647,-1.85323 1.600647,-4.49181 0,-2.6386 -1.600647,-4.49182 -1.600647,-4.49182 z' id='path3-9' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-3' cx='71.801582' cy='134.07126' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_xnor: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-75.390115,-129.07091)'%3E%3Cg id='g47'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999991;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 75.891184,138.51927 c 0,0 1.59185,-1.83517 1.59185,-4.44806 0,-2.61289 -1.59185,-4.44805 -1.59185,-4.44805' id='path3-2-3' /%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999991;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 77.36085,129.57691 c 0,0 2.76417,-0.44974 5.528295,4.4943 -2.764125,4.93086 -5.528295,4.49431 -5.528295,4.49431 0,0 1.264106,-1.85425 1.264106,-4.49431 0,-2.64006 -1.264106,-4.4943 -1.264106,-4.4943 z' id='path3-2-7-6' /%3E%3Ccircle style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-3-2' cx='83.889145' cy='134.07121' r='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --logic_not: url("data:image/svg+xml,%3Csvg width='10mm' height='10mm' viewBox='0 0 10 10' id='svg1' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cg id='layer1' transform='translate(-89.978186,-122.51524)'%3E%3Cg id='g45'%3E%3Cpath style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:0.999997;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' d='m 90.477599,123.01578 7.001022,4.49943 -7.001022,4.49942 z' id='path3-5-6-1' /%3E%3Cellipse style='fill:none;fill-opacity:1;stroke:%23000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1' id='path10-9' cx='98.478767' cy='127.51521' rx='1.0001457' ry='1.0024884' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div.mermaid > svg g.nodes {
  & > g[id*='-and'] {
    --logic-symbol: var(--logic_and);
  }
  & > g[id*='-or'] {
    --logic-symbol: var(--logic_or);
  }
  & > g[id*='-xor'] {
    --logic-symbol: var(--logic_xor);
  }
  & > g[id*='-nand'] {
    --logic-symbol: var(--logic_nand);
  }
  & > g[id*='-nor'] {
    --logic-symbol: var(--logic_nor);
  }
  & > g[id*='-xnor'] {
    --logic-symbol: var(--logic_xnor);
  }
  & > g[id*='-not'] {
    --logic-symbol: var(--logic_not);
  }
  & > g[id*='-and'], & > g[id*='-or'], & > g[id*='-xor'], & > g[id*='-nand'], & > g[id*='-nor'], & > g[id*='-xnor'], & > g[id*='-not'] {
    & > rect {
      display: none;
    }
    & foreignObject {
      & > div > span {
        display: none;
      }
      & > div {
        position: relative;
        left: -0.55em;
        top: -0.55em;
      }
      & > div::after {
        content: var(--logic-symbol);
      }
    }
  }
}